<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tasks"></ion-back-button>
      </ion-buttons>
    <ion-title>task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoaded">
  <ion-item>
    <ion-label position="fixed">Description</ion-label>
    <ion-input [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label>Date Created</ion-label>
    <ion-datetime [readonly]='!isNew' [(ngModel)]="date"></ion-datetime>
  </ion-item>

    <ion-button *ngIf="!isNew" (click)="EditTask(task.uuid)">Save</ion-button>
    <ion-button *ngIf="isNew" (click)="CreateNewTask()">Create</ion-button>
</ion-content>
